# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
.venv/
venv/
.env
.env.*

# Node
node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
postgres_data/

# IDE
.vscode/
.idea/

*.db
